<h2><%= @task.title %></h2>

<h3 class="box"><%= @task.details %></h3>

<% if @task.completed %>
<h3>This task is completed</h3>
<% else %>
<h3>This task is hasn't been completed yet</h3>
<% end %>

<p><i class="fas fa-pen"></i><%= link_to "Edit this task", edit_path(@task) %></p>

<p><i class="fas fa-undo-alt"></i><%= link_to "Back to list", tasks_path %></p>

